name: Release
concurrency: release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    uses: onlyspans/gh-workflows/.github/workflows/release.yml@main
    permissions:
      contents: write
    with:
      image_name: projects
      helm_release: projects-staging
      kube_namespace: projects
    secrets: inherit
